<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

  <div class="container" ng-app="NarrowItDownApp">
  <h1>Narrow Down Your Chinese Menu Choice</h1>

  <div ng-controller="NarrowItDownController as narrowCtrl">
      <div class="form-group">
          <input type="text" placeholder="search term" class="form-control" ng-model="narrowCtrl.searchTerm">
      </div>
      <div class="form-group narrow-button">
          <button class="btn btn-primary" ng-click="narrowCtrl.search()">Narrow It Down For Me!</button>
      </div>

      <found-items found="narrowCtrl.found" on-remove="narrowCtrl.removeItem(index)"></found-items>
  </div>
</div>

<script src="app.js"></script>
</body>
</html>
